body{
    margin: 0;
    padding: 0;
    background-color: #202124;
    width: 100%;
    height: 100%;
}

.div-container{
    width: inherit;
    display: flex;
}

.div-container .header{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.div-container.nav{
    justify-content: flex-end;
}
